@model HalisPeynir.ViewModel.EmployeeViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Employee</h4>
                <form class="mt-4" asp-controller="Employee" asp-action="Add" method="post">
                    <div class="form-group">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <label>Name and second name</label>
                        <input type="text" name="NameAndSecName" class="form-control" id="exampleInputEmail1" value="@Model.Employee.NameAndSecName" aria-describedby="emailHelp" />
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input type="text" name="Surname" class="form-control" value="@Model.Employee.Surname" id="exampleInputPassword1" />
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input"  class="col-2 col-form-label" >Date of birth</label>
                        <div class="col-3">
                            <input class="form-control" name="DOB" type="date" id="example-date-input" value="@(Model.Employee.DOB.Year!=1?Model.Employee.DOB.ToString("yyyy-MM-dd"):"")">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-month-input2" class="col-2 col-form-label">Gender</label>
                        <div class="col-10">
                            <select name="GenderID">
                                <option selected value="0">Choose...</option>

                                @foreach (Gender gender in Model.GenderList)
                                {
                                    <option selected="@(gender.GenderID == Model.Employee.GenderID)" value="@gender.GenderID">@gender.GenderName</option>
                                }
                            </select>

                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="example-month-input2" class="col-2 col-form-label">Job </label>
                        <div class="col-10">
                            <select name="JobTitleID">
                                <option selected value="0">Choose...</option>
                                @foreach (JobTitle jobTitle in Model.JobTitleList)
                                {
                                    <option selected="@(jobTitle.JobTitleID == Model.Employee.JobTitleID)" value="@jobTitle.JobTitleID">@jobTitle.JobTitleName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-month-input2" class="col-2 col-form-label">Shift</label>
                        <div class="col-10">
                            <select name="ShiftID">
                                <option selected value="0">Choose...</option>
                                @foreach (Shift shift  in Model.ShiftList)
                                {
                                    <option selected="@(shift.ShiftID== Model.Employee.ShiftID)" value="@shift.ShiftID">@shift.ShiftName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <input type="checkbox" id="exampleCheck" name="WorkStatus" value="true" checked>
                    <label for="exampleCheck">Is working?</label>

                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <a asp-controller="Employee" asp-action="List" class="btn btn-dark">Cancel</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



